# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# sandbox
.bash_profile
.bashrc
.profile
.zprofile
.zshrc
.gitconfig
.gitmodules
.ripgreprc
.claude
.mcp.json
.vscode
HEAD
config
/hooks
objects
refs

# secrets
.env
.deck

release/

# data and other stuff
repos
data
scripts
